.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #78909c;
  background: linear-gradient(
    111deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 253, 190, 1) 50%,
    rgba(252, 167, 69, 1) 93%
  );
}
